<nav class="navigation">
    <div class="navigation__wrapper">
        
        <% if (params[:controller] == 'photos' && params[:action] == 'show') %>
            <%= link_to(root_path) do %>
                <div class="icon-wrapper">
                    <i data-feather="arrow-left"></i>
                </div>
            <% end %>
        <% else %>
            <div class="navigation__logo">
                <%= link_to(root_path) do %>
                    <h1>Atlanta Alive</h1>
                <% end %>
            </div>
        <% end %>

        <div class="navigation__links">
            <% if user_signed_in? %>
                <%= link_to('Settings', edit_user_registration_path, class: 'navigation__links__item') %>
                <%= link_to('Logout', destroy_user_session_path, class: 'navigation__links__item', method: :delete) %>

                <div class="hori-divider"></div>

                <%= link_to('Upload', new_photo_path, class: 'navigation__links__item navigation__links__item--last') %>
            <% else %>
                <a href="#" class="navigation__links__item">Twitter</a>
                <a href="#" class="navigation__links__item">Instagram</a>
                <a href="#" class="navigation__links__item navigation__links__item--last">Facebook</a>
            <% end %>
        </div>
    </div>
</nav>